<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aman's Project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% extends 'base.html' %} {% load static %} {% block content %}
    <header>
      <img
        src="{% static 'restaurant/littlelemon.png' %}"
        alt="Little Lemon Loogo"
        class="logo"
      />
      <h1>Welcome to Little Lemon Restaurant</h1>
    </header>
    <main>
      <section class="intro">
        <p>Experience the best dining with us!</p>
        <p>This is the home page for Little Lemon Restaurant.</p>
        <!-- Add your content here -->
      </section>
    </main>
    {% endblock %}
  </body>
</html>
